<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predict</title>
</head>
<body>
  
  <form action="/predict" method="POST" enctype="multipart/form-data">
    <label for="image1">
      <input type="file" name="img1" id="image1">

    </label>
    <label for="image2">
      <input type="file" name="img2" id="image2">

    </label>
    <input type="submit" value="Predict">
  </form>
  {{pred}}
</body>

</html>